<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Peliculas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="container">
        <h1 class="header">MENU</h1>
    </div>

    <form method="POST" action="/altaPersonas" >
        Ingrese Nombre Pelicula:
        <input  type="text" id="nombrePeli" name="nombrePeli" size="10"><br>
        Ingrese Nombre Director:
        <input type="text" id="nombreDir" name="nombreDir" size="10"><br>
        Ingrese Apellido Director:
        <input type="text" id="apellidoDir" name="apellidoDir" size="10"><br>
        Ingrese DNI Director:
        <input type="text" id="dniDir" name="dniDir" size="10"><br>
        
        <input type="submit" value="Submit">  
    </form>

</body>
</html>
